<li class='page-listing' id="<%= dom_id(redirect_item) -%>">
  <div class="page-row">
    <!-- <i class="icon icon-file"></i> -->
    <a class="page-title" href="<%= refinery.edit_redirects_admin_redirect_item_path(redirect_item) %>">
      <span class="title">
        <%= redirect_item.notes.presence || redirect_item.src_path %>
      </span>
      <span class='label gray-1-bg gray-6 text-lowercase'><%= redirect_item.src_path %></span>
      <span><i class="icon icon-arrow-right"></i></span>
      <span class='label gray-1-bg gray-6 text-lowercase'><%= redirect_item.dest_url %></span>
      <% if redirect_item.permanent? %>    <span class='label gray-5-bg'>Permanent (301)</span><% end %>
    </a>

    <span class='actions'>
      <%= render 'refinery/admin/glass/delete_button',
                 css_class: 'cancel confirm-delete circle-icon',
                 delete_url: refinery.redirects_admin_redirect_item_path(redirect_item),
                 after_delete_url: refinery.redirects_admin_redirect_items_path,
                 confirm_text: 'Are you sure you want to delete this Redirect_item?',
                 delete_btn_text: '<i class="icon icon-trash"></i>'
      -%>
    </span>
  </div>
</li>
